# This is a list of files and directories to be ignored by version control systems
# such as Git. These files and directories are either generated at runtime,
# specific to a user or environment, or are not necessary for the project.

# .vagrant - directory containing information about Vagrant environment
.vagrant/

# Vagrantfile - configuration file for Vagrant
Vagrantfile

# docker-compose.override.yml - Docker Compose override file
docker-compose.override.yml

# .*.swp - temporary files created by nano text editor
*.swp

# standalone/tools/epubgen2/output - directory containing generated output files
standalone/tools/epubgen2/output/

